:root {
	/* text colors (monochrome) */
	--white: #f9f9f9;
	--black: #383a42;

	/* highlight colors */
	--red: #d52753;
	--brown: #a05a48;
	--orange: #df631c;
	--yellow: #c5a332;
	--green: #23974a;
	--light-blue: #0098dd;
	--pale-blue: #7a82da;
	--dark-blue: #275fe4;
	--purple: #823ff1;
	--pink: #ce33c0;

	/* python colors */
	--python-blue: #3475a8;
	--python-yellow: #ffd340;

	--text-pad: 4px;
	--text-margin: calc(2 * var(--text-pad));

	--block-pad: 0.5vw;
	--block-margin: calc(2 * var(--block-pad));

	--tag-thickness: 1;

	--base-font-size: 1em;
	--tag-font-size: calc(var(--base-font-size) - var(--tag-thickness) * var(--text-pad));

	--font-family-monospace: monospace;
	--font-family-sans-serif: sans-serif;

	--nav-width: min(20%, 200px);
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: var(--white);
	color: var(--black);
	font-family: var(--font-family-sans-serif);
	height: 100%;
}

#nav {
	height: 100%;
	width: var(--nav-width);
	position: absolute;
	left: 0;
	top: 0;
	margin: var(--block-margin);
}

#nav input[type=text] {
	width: 100%;
}

main {
	margin-left: calc(var(--nav-width) + 3 * var(--block-margin));
	padding: var(--block-padding);
}

main ul {
	margin-left: calc(2 * var(--text-margin));
}
